body {
    background-color: beige;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}


/* Center the header on the homepage */
#HomeHeader {
    text-align:center;
}
/* Center my name on the homepage */
#MyName {
    text-align:center;
}
/* Remove the indent of the paragraph underneath the photographs */
#PhotoText1, #PhotoText2 {
    text-indent: 0px;
}
/* Make the text underneath the pictures a little smaller */
#PhotoText1, #PhotoText2 {
    font-size: 14px;
}
/* Give the table a 1px border */
table, td {
    border: 1px solid;
}
/* Make the border around the headers of the table thicker */
th {
    border: 2px solid; 
}
/* Make the table a little wider */
table {
    width:25%;
}
/* Center the table */
table {
    margin-left:auto;
    margin-right:auto;
}
/* Center the elements on the page so they align with the header */
.col-3 {
    margin-left:auto;
    margin-right:auto;
}
/* Center the previous/next page buttons */
.MyButton {
    text-align:center;
}
/* Put the toggle deletions button at the right side of the page*/
.MyButton2 {
    text-align:right;
}
/* Make the supralinear additions superscript */
.supraAdd {
    vertical-align:super;
    font-size: smaller;
}
/* Make additions that were overwritten appear in italics */
.supraItalics {
    font-style: italic;
}